<?xml version="1.0" encoding="UTF-8"?>
<config>
    <hdSearchTxt>Enter search term ...</hdSearchTxt>
    <hdSearchBtn>Search</hdSearchBtn>
    <hdSearchLnk>'http://www.google.com/cse?cx=010629462602499112316:ywoq_rufgic&amp;q=' + query</hdSearchLnk>
    <sbContent>Content</sbContent>
    <sbIndex>Index</sbIndex>
    <ftLicense>License:</ftLicense>
    <ftExtra></ftExtra>
</config>