@font-face {
font-family:'icons'; /* http://fontastic.me/ */
src:url(fonts/icons.eot?) format("embedded-opentype")
}

@font-face {
font-family:'icons';
src:url(data:font/opentype;base64,AAEAAAANAIAAAwBQRkZUTXm8VhwAAA3kAAAAHEdERUYAPwAGAAANxAAAACBPUy8ycn+CCQAAAVgAAABWY21hcJ8TScQAAAHcAAABumdhc3D//wADAAANvAAAAAhnbHlmSiu3AAAAA8AAAAfIaGVhZA6V9EkAAADcAAAANmhoZWEEKAIFAAABFAAAACRobXR4B5UBvAAAAbAAAAAsbG9jYRFeD4QAAAOYAAAAJm1heHAAWQCJAAABOAAAACBuYW1lrWEp7gAAC4gAAAFrcG9zdORaLJkAAAz0AAAAxwABAAAAAQAAiazSel8PPPUACwIAAAAAANa/WaYAAAAA1r9ZpgAAAAAB+QIAAAAACAACAAAAAAAAAAEAAAIAAAAALgIAAAAAAAH5AAEAAAAAAAAAAAAAAAAAAAAEAAEAAAASAIYABQAAAAAAAgAAAAEAAQAAAEAAAAAAAAAAAQIAAZAABQAIAUwBZgAAAEcBTAFmAAAA9QAZAIQAAAIABQkAAAAAAAAAAAKDAAAgIAAAAAAAAAAAUGZFZABAAEMlxAHg/+AALgIAAAAAAAABAAAAAAAAAgAAAAAAAAACAAAAAgAAOQBPADEATwBAADYAQAAAAEAAFQA8ADwANgBwACAAAAADAAAAAwAAABwAAQAAAAAAtAADAAEAAAAcAAQAmAAAACIAIAAEAAIAAABDAEUATABQAFMAWgCsA5QDngQFIZMlsiW6JbwlxP//AAAAAABDAEUATABQAFMAWgCsA5QDngQFIZMlsiW6JbwlxP//AAD/xP/K/77/tf+2/6n/X/xy/Gb8DN512l7aVNpQ2kkAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEGAAABAAAAAAAAAAECAAAAAgAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABwAPAAAAAAAACgAAAAUAAAkAAAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABWAKQA2gD8ARgBXgHcApYCtgMIAywDUAN0A5gD5AAAAAMAOQA1AccBywAVACEAQwAAASIGFRQXBwYUFjMyNxU3FjMyNjU0JgMiJjU0NjMyFhUUBjcjNTQrAiIdAiMiHQEUOwIHMxQzMTMyPQEzMTI9ATQBI0RgF08OGxMUDFIiKERgYUIrPDwrKjw8EiQIAR8IJQgIASQBAQggCCQIActgRC8mTw4mGg4BUhFgRENh/vk7Kyo8PCorO34kCAgBIwggCCQICCQIIAgAAAAEAE8ATwGxAbEADQAbACkANwAAASEiBh0BFDMhMj0BNCYHISIGHQEUMyEyPQE0JgchIh0BFBYzITI2PQE0ByEiHQEUFjMhMjY9ATQBoP7ABwoRAUARCgf+wAcKEQFAEQoH/sARCgcBQAcKEf7AEQoHAUAHCgGxCgcQEhIQBwplCgcQEhIQBwplEhAHCgoHEBJlEhAHCgoHEBIAAAADADEAMwHPAc0AFwAfACcAAAE0KwE1NCsBIh0BIyIdARQ7ATUhFTMyNScjNTQ7ATIVAxQ7ATI9ASMBzwlDCvIKQwkJQwEGQwlm0gnACdEJvgnQAUwJbgoKbgm8Ck9PCpt/CQn+kwoKfgAAAAABAE8APgGxAb8AFgAAAScmDwEGHQEUOwEyPQEzFRQ7ATI9ATQBrKcHCaEFDWANbg1gDQE+gQcHgQMH6Q0Nj48NDekHAAIAQABAAcABwAAHAA0AAAAiBhQWMjY0JzIWFAYjAVCgcHCgcL86UlI6AcBwoHBwoD1TdFMAAAAAAgA2AEABygHAABkAMAAAASMiBw4BIiYnJisBIgYdARQWMyEyNj0BNCYHFjMyPwE2JyYrATU0KwEiHQEjIgcGFwGxWhMFByIsIgcFE1oLDg4LAWILDg7BAQQDA0UDAgIEIQc8ByEEAgIDAQIRFRkZFREOC5ALDg4LkAsODQMDYgMEA1gHB1gDBAMAAAADAEAAFQGrAesACwBGAFcAAAE1IxUzESMVMzUjEQc0JyYnJiMiBwYHDgEVFBcWMzI3NjU0JjU2NzYzMhcWHwEVFAcGBwYHBgcGBwYVFBcWMzI3NjczFh8BJwYHBiMiJyY1NDc2NzY3NjcBq4AqKoArVQcQFxQfFhURFRIWCAgRFAsKBgcMDhAYCwsJAz0fHgwODQkKBwUZFygcIhwUAgQRDiURDxIZFhAPCgkSFBUXGwHAKyv+gCsrAYAyAgUMBQQHBQsMHBEQCwwKCQ0MGgcHBAYKBw8ZMwQVCgwECQcLChIREiYYFxIPHB4MATsTCQwODhwYDhAMDgcJBwAFAAAAPgH5AcIAUwBcAGcAgQCFAAAlFgcGByI1JyYnNDc2NzYnBgcGBwYHBicmJyY1NDc2NycGIwYnNCcmJzQuATUiNzM/ATwCJj0BNDM6ATYyMzIdATYzNhcUFxYXFDEWIwcVMzIXFgcWNycGBwYVFDc2NzY3NicmKwEHJxYXFhcWFRQrASI1JyMHFCsBIjU2EzY7ATIHMycHAfkQFRMxBgkEBAErEREXBw0LExQYGhwaERAeGyABSAMDAgEBAQEBAgICAlABBAUKBgQBBkkKBAICAQECBFoGLB8gsQ4SAhAPFlYODxEGBwMTHgMD5wYVHwwUAiwDGVoaAywCBFYBBDEFQkolJekoMjAhAQkGBAQBHjAvHREWFRQXCgwEAxIRHishGQkzDAIEAQQGBAQHBAECAQ4KFA0KAgMEAQQ1CwMGBAgEBQMGEDQSE3IDBm0GDhYiIQsMFxkPEgMJAVsNR2IkPAQCAlVVAgIJAREEpYeHAAACAEAAQAHAAcAACQAQAAAlIRE3NSMRITUjJxcHFzcXNQGA/wBAgAGAQIBAYEBgQIAA/wFA/oCg4EBgQGBAwAAAAwAVAAAB6wIAAAYAKwA7AAABNSMVIxc/ASMVMzIeAR0BFAYjISImPQE0NjsBNSMiBh0BFBYzITI2PQE0JgMUBiMhIiY9ARQWMyEyNjUBQGtUiIceQ0MHBgUQDf66DRAICkNDGyIkGQFcGSQiCQoI/qQIChQJAUYJFAEV6+uHh1YrAQUGoA8aGg+gCAQrHRrrGy4uG+saHf7eChQUCiEGDw8GAAABADwAcAHEAZAAFgAAEwcGFRQfARY3Nj0BMzI9ATQrATU0Jyb8uwUFuwcGB6cNDacHBwGPhQMHCAOEBQQEBz4NdA0+BwQFAAABADwAcAHEAZAAFgAAJTc2NTQvASYHBh0BIyIdARQ7ARUUFxYBBLsFBbsHBgenDQ2nBwdxhQMHCAOEBQQEBz4NdA0+BwQFAAACADYANwHHAccADwASAAABJyYPATMjBwYXFj8BMTc2BTcXAcddCQv9AQEjAwYICID+Cf6QFTgBal0JCf6CBggHBSL+Cf9MOAABAHAAPAGQAcQAFgAAAScmIyIPAQYXFjsBFRQ7ATI9ATMyNzYBj4UDBwgDhAUEBAc+DXQNPgcEBQEEuwUFuwcGB6cNDacHBwACACAAIAHgAeAABwAvAAAAIgYUFjI2NBcHHwEHJw8CIy8BDwEnNy8CNT8BLwE3Fz8CMx8BPwEXBx8CFQEiRC8vRC9RDhoDJDsjEgIzFiQzByQcDjcHPg4aAyQ7IxICMxYkMwckHA43BwFRL0QvL0RRIzMHJBwONwc+DhoDJDsjEgIzFiQzByQcDjcHPg4aAyQ7IxICMwAAAAAADACWAAEAAAAAAAEABQAMAAEAAAAAAAIABwAiAAEAAAAAAAMAIABsAAEAAAAAAAQABQCZAAEAAAAAAAUACwC3AAEAAAAAAAYABQDPAAMAAQQJAAEACgAAAAMAAQQJAAIADgASAAMAAQQJAAMAQAAqAAMAAQQJAAQACgCNAAMAAQQJAAUAFgCfAAMAAQQJAAYACgDDAGkAYwBvAG4AcwAAaWNvbnMAAFIAZQBnAHUAbABhAHIAAFJlZ3VsYXIAAEYAbwBuAHQARgBvAHIAZwBlACAAMgAuADAAIAA6ACAAaQBjAG8AbgBzACAAOgAgADIALQAzAC0AMgAwADEAOAAARm9udEZvcmdlIDIuMCA6IGljb25zIDogMi0zLTIwMTgAAGkAYwBvAG4AcwAAaWNvbnMAAFYAZQByAHMAaQBvAG4AIAAxAC4AMAAAVmVyc2lvbiAxLjAAAGkAYwBvAG4AcwAAaWNvbnMAAAACAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAABIAAAABAAIBAgEDAQQBBQEGAQcBCAEJAQoBCwEMAQ0BDgEPARAEem9vbQdzaWRlYmFyBXByaW50BGhvbWUIY29udHJhc3QIZG93bmxvYWQGc2VsZWN0CGxhbmd1YWdlDWxpbmstZXh0ZXJuYWwKZG93bmxvYWQtMQphcnJvdy1sZWZ0C2Fycm93LXJpZ2h0BGVkaXQIYXJyb3ctdXAIc2V0dGluZ3MAAAAAAf//AAIAAQAAAA4AAAAYAAAAAAACAAEAAwARAAEABAAAAAIAAAAAAAEAAAAAzD2izwAAAADWv1mmAAAAANa/WaY=) format("truetype"),url(fonts/icons.woff) format("woff"),url(fonts/icons.svg) format("svg")
}

#body {
height:100%;
width:100%;
position:fixed;
margin:-.72em
}

[data-content]:before {
content:attr(data-content);
width:100%;
display:inline-block
}

#main {
height:100%;
padding-top:3em;
box-sizing:border-box
}

#head {
box-shadow:0px 4px 16px 0px rgba(0,0,0,0.2);
z-index:999;
background:#3F627F;
position:absolute;
height:3em;
width:100%;
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
font-family:arial,helvetica,Segoe UI Symbol;
color:#eee
}

#head div {
display:table-cell
}

#head .h-area {
display:table
}

#head ul {
list-style:none;
margin:0;
padding:0;
height:100%;
width:100%;
display:table;
table-layout:fixed
}

#head .h-tabs {
height:100%;
width:18em;
font-weight:700
}

#head .h-tabs ul {
position:absolute;
top:0;
width:inherit
}

#head .h-tools {
font-family:icons;
font-size:2em
}

#head .h-tools.sidebar > ul {
max-width:1.75em
}

#head .h-tools.online > ul {
max-width:7em
}

#head .h-tools.chm > ul {
max-width:8.75em
}

#head .h-tools.main > ul {
max-width:3.5em
}

#head li {
display:table-cell;
text-align:center;
line-height:1.5em;
vertical-align:middle;
height:100%
}

#head li > a {
display:block;
text-decoration:none;
color:inherit
}

#head .h-tools li {
max-width:1.75em
}

#head li:hover {
background:#fff;
color:#d06d3c;
cursor:pointer
}

#head .selected {
background:#fff;
color:#3F627F
}

#head .dropdown {
display:none;
position:absolute;
height:auto;
width:1.75em;
top:1.5em;
z-index:999;
box-shadow:0px 8px 16px -4px rgba(0,0,0,0.2)
}

#head .dropdown li {
display:block
}

#head div.dropdown {
background-color:#f5f5f5;
color:#000;
max-width:30em;
position:fixed;
white-space:normal;
padding:.72em
}

#head .dropdown li,li.version,li.language {
font-family:arial,helvetica,Segoe UI Symbol!important
}

#head .online,#head .chm {
display:none
}

#left {
z-index:999;
background:#f9f9f9;
color:#000;
float:left;
width:18em;
height:100%;
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
position:relative
}

#left.phone {
float:none;
height:auto;
position:absolute;
top:3em;
bottom:0;
left:0;
z-index:999
}

#left .toc {
overflow:auto;
-webkit-overflow-scrolling:touch;
float:left;
height:100%;
width:inherit
}

#left .load {
position:absolute;
top:0;
right:0;
bottom:0;
left:0
}

#left .load div {
height:100%;
width:100%;
display:flex;
justify-content:center;
align-items:center
}

.lds-dual-ring {
display:inline-block;
width:64px;
height:64px
}

.lds-dual-ring:after {
content:" ";
display:block;
width:46px;
height:46px;
margin:1px;
border-radius:50%;
border:5px solid #fff;
border-color:#3F627F transparent #3F627F transparent;
animation:lds-dual-ring 1.2s linear infinite
}

@keyframes lds-dual-ring {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}

#left .toc ul {
color:#3F5770;
padding:0;
margin:0
}

#left .toc > ul {
padding:1em 0
}

#left .toc li {
list-style:none;
white-space:nowrap;
overflow:hidden;
margin:0;
cursor:pointer
}

#left .toc li > span {
box-sizing:border-box;
padding:.1em 0;
padding-left:1.5em;
display:inline-block;
height:100%;
width:100%;
border-left:.2em solid transparent
}

#left .toc ul > li > ul {
border-left:1px solid silver;
margin-left:1.8em
}

#left .toc ul > li.highlighted > ul {
border-left:1px solid #d06d3c
}

#left .toc li.closed > span,#left .toc li.opened > span {
color:#000
}

#left .toc li.closed > span:before {
content:'+';
width:1em;
display:inline-block;
margin-left:-1em;
font-size:1.1em
}

#left .toc li.opened > span:before {
content:'\2212';
width:1em;
display:inline-block;
margin-left:-1em;
font-size:1.1em
}

#left .toc a {
box-sizing:border-box;
color:inherit;
display:inline-block;
width:100%
}

#left .toc .selected {
font-weight:700;
border-left:.2em solid #d06d3c
}

#left .index,#left .search {
position:absolute;
top:0;
left:0;
right:0;
bottom:0
}

#left .label {
position:absolute;
top:0;
left:.72em;
right:.72em
}

#left .input {
position:absolute;
top:.72em;
left:.72em;
right:.72em;
height:2em
}

#left .input input {
border:1px solid #ccc;
width:100%;
height:100%;
box-sizing:border-box;
color:inherit;
background:#fff;
padding:.3em .25em;
font-family:helvetica,Arial,sans-serif;
font-size:1em
}

#left .input input.match {
background-color:#E6FFE6
}

#left .input input.mismatch {
background-color:#fcc
}

#left .select {
position:absolute;
top:3em;
left:.72em;
right:.72em;
height:2em
}

#left .select select {
border:1px solid #ccc;
width:100%;
height:100%;
box-sizing:border-box;
color:inherit;
background:#fff;
font-size:inherit
}

#left .select select>option {
font-size:inherit;
color:black
}

#left .select .empty {
color:grey !important
}

#left .list {
position:absolute;
left:.72em;
right:.72em;
background-color:#fff;
border:1px solid silver;
overflow:auto;
-webkit-overflow-scrolling:touch
}

#left .index .list {
top:5.28em;
bottom:.72em
}

#left .search .list {
top:3em;
bottom:3em
}

#left .search .checkbox {
position:absolute;
bottom:.72em;
left:.72em;
right:.72em;
height:2em
}

#left .search .checkbox input {
height:100%;
width:1em;
margin:0 0 0 .5em;
vertical-align:middle;
text-align: center
}

#left .search .checkbox label {
border:1px solid #ccc;
box-sizing:border-box;
padding-left:2em;
height:100%;
position:absolute;
left:0;
right:0;
bottom:0;
cursor:pointer
}

#left .search .checkbox .updown {
border:1px solid #ccc;
position:absolute;
bottom:0;
right:0;
top:0;
width:1.2em
}

#left .search .checkbox .up {
position:absolute;
left:0;
right:0;
top:0;
bottom:50%;
padding:.2em
}

.triangle-up {
width:0;
height:0;
border-style:solid;
border-width:0 .4em .4em .4em;
border-color:transparent transparent #505050 transparent
}

#left .search .checkbox .up:hover {
background-color:#c2c2c2;
cursor:pointer
}

#left .search .checkbox .down {
position:absolute;
bottom:0;
left:0;
right:0;
top:50%;
padding:.2em
}

.triangle-down {
width:0;
height:0;
border-style:solid;
border-width:.4em .4em 0 .4em;
border-color:#505050 transparent transparent transparent;
margin-top:.15em
}

#left .search .checkbox .down:hover {
background-color:#c2c2c2;
cursor:pointer
}

#left .list > a {
text-decoration:none;
color:inherit;
line-height:1em;
padding:.3em .25em;
white-space:nowrap;
text-overflow:ellipsis;
overflow:hidden;
display:block;
cursor:default
}

#left .list > a:hover {
color:inherit;
background-color:silver;
cursor:default
}

#left .list > a.selected {
background-color:grey;
color:#FFF
}

#left .toc, #left .index, #left .search {
visibility:hidden
}

.dragbar {
background-color:#eee;
width:3px;
cursor:col-resize;
z-index:1000;
position:absolute;
top:0;
bottom:0;
left:18em
}

.ghostbar {
width:3px;
background-color:#000;
opacity:0.5;
position:absolute;
cursor:col-resize;
z-index:1000;
height:100%;
top:0
}

#right {
height:100%;
overflow:auto;
-webkit-overflow-scrolling:touch;
outline:none
}

#frame {
border:0;
height:100%;
width:100%;
display:block;
position:relative
}

#right .area {
padding:.72em
}

#right .footer {
padding:15px 0 15px 0;
margin-top:20px;
opacity:0.5;
border-top:1px solid silver
}

#right .back-to-top {
display:none;
line-height:20px;
width:40px;
font-family:icons;
font-size:200%;
text-align:center;
position:fixed;
bottom:10px;
right:10px;
z-index:999;
background-color:#3F627F;
color:white;
cursor:pointer;
padding-top:10px;
padding-bottom:10px;
opacity:0.5
}

div#right .back-to-top {
right:27px;
}

#right .back-to-top:hover {
opacity:1.0
}

#right .back-to-top:before {
content:'\25B2'
}

#right pre.parent {
position:relative
}

#right pre.origin {
margin:0;
padding:0;
background-color:inherit;
border:0;
line-height:inherit
}

#right pre.parent > div.buttons {
display:none;
position:absolute;
right:0;
top:0
}

#right pre.parent > div.buttons > a {
background-color:#777; 
color:#fff;
cursor:pointer;
display:inline-block;
font-size:18px;
line-height:18px;
padding:3px;
font-family:icons
}

#right pre.parent > div.buttons > a {
background-color:#777; 
color:#fff;
cursor:pointer;
display:inline-block;
font-size:1.3em;
line-height:1em;
padding:.165em;
font-family:icons
}

#right pre.parent > div.buttons > a:hover {
cursor:pointer;
background:rgba(0,0,0,.9);
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#000000',endColorstr='#000000'); /* IE8 */
text-decoration:none
}

#right .headLine:hover:after {
content:" \0000B6";
color:#888
}

#right .headLine > a.headLink, .ver > a {
color:inherit !important
}

#right .headLine > a.headLink:hover {
text-decoration:none;
color:inherit
}

#right .extLink:after {
content:"\00AC";
text-decoration:none;
display:inline-block;
padding-left:3px;
vertical-align:bottom;
font-family:icons;
font-size:.9em
}

#right .highlight {
background-color:#ff9632;
color:#000
}

#right .highlight.current {
background-color:#ff0000;
color:#fff
}

#right table.mobile {
border:solid 1px silver;
border-collapse:collapse
}

#right table.mobile tbody {
border-top:solid 1px silver
}

#right table.mobile tbody>tr:first-child {
background-color:#F6F6F6;
font-weight:700
}

#right table.mobile td {
vertical-align:top;
padding:.3em .5em;
border:none;
width:100%
}

#right table.mobile p {
margin-top:0
}

#right table.mobile td:first-child {
background-color:#F6F6F6;
width:auto;
white-space:nowrap
}

pre[class="origin"] span > a,pre[class="origin"] span > a:hover {
color:inherit
}

code span > a,code span > a:link,code span > a:hover {
color:inherit !important
}

pre > .cmd, pre > .bif, code > .cmd, code > .bif {
color:#0148c2
}

pre > .met, code > .met {
color:#097f9a
}

pre > .cfs, pre > .dec, code > .cfs, code > .dec {
color:#6F008A
}

pre > .str, code > .str {
color:#A31515
}

pre .str > .esc, code .str > .esc {
color:#FF0000
}

pre > .biv, code > .biv {
color:#006400
}

pre > .dir, code > .dir {
color:green
}

pre > .lab, pre > .fun, code > .lab, code > .fun {
font-weight:bold;
color:#290e90
}

pre > .num, code > .num {
color:#1a6c4e
}

pre.origin em, code em, pre .cmt, code .cmt {
color:#708090 !important
}

@media print {
  #head,#left,.dragbar {display:none;}
  #body {position:static;}
  #main {padding-top: 0; }
}
