@font-face {
font-family:'icons'; /* http://fontastic.me/ */
src:url(fonts/icons.eot?) format("embedded-opentype")
}

@font-face {
font-family:'icons';
src:url(data:font/opentype;base64,AAEAAAANAIAAAwBQRkZUTXbhyb4AAAyAAAAAHEdERUYAPAAGAAAMYAAAACBPUy8ycH+CCQAAAVgAAABWY21hcFpHZBUAAAHYAAABomdhc3D//wADAAAMWAAAAAhnbHlmn9noUAAAA5wAAAagaGVhZAu7Z+sAAADcAAAANmhoZWEEKAIFAAABFAAAACRobXR4ByUBZgAAAbAAAAAmbG9jYQoGC+wAAAN8AAAAIG1heHAAVgCJAAABOAAAACBuYW1lEUCJ2QAACjwAAAFucG9zdP64rf0AAAusAAAAqgABAAAAAQAAinK6WF8PPPUACwIAAAAAANVSE3cAAAAA1VITdwAAAAAB+QIAAAAACAACAAAAAAAAAAEAAAIAAAAALgIAAAAAAAH5AAEAAAAAAAAAAAAAAAAAAAAEAAEAAAAPAIYABQAAAAAAAgAAAAEAAQAAAEAAAAAAAAAAAQIAAZAABQAIAUwBZgAAAEcBTAFmAAAA9QAZAIQAAAIABQkAAAAAAAAAAACDAAAgIAAAAAAAAAAAUGZFZABAAEMlxAHg/+AALgIAAAAAAAABAAAAAAAAAgAAAAAAAAACAAAAAgAAOQBPADEATwBAADYAQAAAAEAAFQA8ADwAAAAAAAMAAAADAAAAHAABAAAAAACcAAMAAQAAABwABACAAAAAHAAQAAMADAAAAEMATABQAFMAWgCsA5QDniGTJbolvCXE//8AAAAAAEMATABQAFMAWgCsA5QDniGTJbolvCXE//8AAP/E/77/tf+2/6n/X/xy/GbeddpU2lDaSQABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQYAAAEAAAAAAAAAAQIAAAACAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHAAAAAAAAAAAKAAAABQAACQAAAAAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFYApADaAPwBGAFeAdwClgK2AwgDLANQAAMAOQA1AccBywAVACEAQwAAASIGFRQXBwYUFjMyNxU3FjMyNjU0JgMiJjU0NjMyFhUUBjcjNTQrAiIdAiMiHQEUOwIHMxQzMTMyPQEzMTI9ATQBI0RgF08OGxMUDFIiKERgYUIrPDwrKjw8EiQIAR8IJQgIASQBAQggCCQIActgRC8mTw4mGg4BUhFgRENh/vk7Kyo8PCorO34kCAgBIwggCCQICCQIIAgAAAAEAE8ATwGxAbEADQAbACkANwAAASEiBh0BFDMhMj0BNCYHISIGHQEUMyEyPQE0JgchIh0BFBYzITI2PQE0ByEiHQEUFjMhMjY9ATQBoP7ABwoRAUARCgf+wAcKEQFAEQoH/sARCgcBQAcKEf7AEQoHAUAHCgGxCgcQEhIQBwplCgcQEhIQBwplEhAHCgoHEBJlEhAHCgoHEBIAAAADADEAMwHPAc0AFwAfACcAAAE0KwE1NCsBIh0BIyIdARQ7ATUhFTMyNScjNTQ7ATIVAxQ7ATI9ASMBzwlDCvIKQwkJQwEGQwlm0gnACdEJvgnQAUwJbgoKbgm8Ck9PCpt/CQn+kwoKfgAAAAABAE8APgGxAb8AFgAAAScmDwEGHQEUOwEyPQEzFRQ7ATI9ATQBrKcHCaEFDWANbg1gDQE+gQcHgQMH6Q0Nj48NDekHAAIAQABAAcABwAAHAA0AAAAiBhQWMjY0JzIWFAYjAVCgcHCgcL86UlI6AcBwoHBwoD1TdFMAAAAAAgA2AEABygHAABkAMAAAASMiBw4BIiYnJisBIgYdARQWMyEyNj0BNCYHFjMyPwE2JyYrATU0KwEiHQEjIgcGFwGxWhMFByIsIgcFE1oLDg4LAWILDg7BAQQDA0UDAgIEIQc8ByEEAgIDAQIRFRkZFREOC5ALDg4LkAsODQMDYgMEA1gHB1gDBAMAAAADAEAAFQGrAesACwBGAFcAAAE1IxUzESMVMzUjEQc0JyYnJiMiBwYHDgEVFBcWMzI3NjU0JjU2NzYzMhcWHwEVFAcGBwYHBgcGBwYVFBcWMzI3NjczFh8BJwYHBiMiJyY1NDc2NzY3NjcBq4AqKoArVQcQFxQfFhURFRIWCAgRFAsKBgcMDhAYCwsJAz0fHgwODQkKBwUZFygcIhwUAgQRDiURDxIZFhAPCgkSFBUXGwHAKyv+gCsrAYAyAgUMBQQHBQsMHBEQCwwKCQ0MGgcHBAYKBw8ZMwQVCgwECQcLChIREiYYFxIPHB4MATsTCQwODhwYDhAMDgcJBwAFAAAAPgH5AcIAUwBcAGcAgQCFAAAlFgcGByI1JyYnNDc2NzYnBgcGBwYHBicmJyY1NDc2NycGIwYnNCcmJzQuATUiNzM/ATwCJj0BNDM6ATYyMzIdATYzNhcUFxYXFDEWIwcVMzIXFgcWNycGBwYVFDc2NzY3NicmKwEHJxYXFhcWFRQrASI1JyMHFCsBIjU2EzY7ATIHMycHAfkQFRMxBgkEBAErEREXBw0LExQYGhwaERAeGyABSAMDAgEBAQEBAgICAlABBAUKBgQBBkkKBAICAQECBFoGLB8gsQ4SAhAPFlYODxEGBwMTHgMD5wYVHwwUAiwDGVoaAywCBFYBBDEFQkolJekoMjAhAQkGBAQBHjAvHREWFRQXCgwEAxIRHishGQkzDAIEAQQGBAQHBAECAQ4KFA0KAgMEAQQ1CwMGBAgEBQMGEDQSE3IDBm0GDhYiIQsMFxkPEgMJAVsNR2IkPAQCAlVVAgIJAREEpYeHAAACAEAAQAHAAcAACQAQAAAlIRE3NSMRITUjJxcHFzcXNQGA/wBAgAGAQIBAYEBgQIAA/wFA/oCg4EBgQGBAwAAAAwAVAAAB6wIAAAYAKwA7AAABNSMVIxc/ASMVMzIeAR0BFAYjISImPQE0NjsBNSMiBh0BFBYzITI2PQE0JgMUBiMhIiY9ARQWMyEyNjUBQGtUiIceQ0MHBgUQDf66DRAICkNDGyIkGQFcGSQiCQoI/qQIChQJAUYJFAEV6+uHh1YrAQUGoA8aGg+gCAQrHRrrGy4uG+saHf7eChQUCiEGDw8GAAABADwAcAHEAZAAFgAAEwcGFRQfARY3Nj0BMzI9ATQrATU0Jyb8uwUFuwcGB6cNDacHBwGPhQMHCAOEBQQEBz4NdA0+BwQFAAABADwAcAHEAZAAFgAAJTc2NTQvASYHBh0BIyIdARQ7ARUUFxYBBLsFBbsHBgenDQ2nBwdxhQMHCAOEBQQEBz4NdA0+BwQFAAAAAAwAlgABAAAAAAABAAUADAABAAAAAAACAAcAIgABAAAAAAADACEAbgABAAAAAAAEAAUAnAABAAAAAAAFAAsAugABAAAAAAAGAAUA0gADAAEECQABAAoAAAADAAEECQACAA4AEgADAAEECQADAEIAKgADAAEECQAEAAoAkAADAAEECQAFABYAogADAAEECQAGAAoAxgBpAGMAbwBuAHMAAGljb25zAABSAGUAZwB1AGwAYQByAABSZWd1bGFyAABGAG8AbgB0AEYAbwByAGcAZQAgADIALgAwACAAOgAgAGkAYwBvAG4AcwAgADoAIAAyADkALQA1AC0AMgAwADEANwAARm9udEZvcmdlIDIuMCA6IGljb25zIDogMjktNS0yMDE3AABpAGMAbwBuAHMAAGljb25zAABWAGUAcgBzAGkAbwBuACAAMQAuADAAAFZlcnNpb24gMS4wAABpAGMAbwBuAHMAAGljb25zAAAAAAIAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAADwAAAAEAAgECAQMBBAEFAQYBBwEIAQkBCgELAQwBDQR6b29tB3NpZGViYXIFcHJpbnQEaG9tZQhjb250cmFzdAhkb3dubG9hZAZzZWxlY3QIbGFuZ3VhZ2UNbGluay1leHRlcm5hbApkb3dubG9hZC0xCmFycm93LWxlZnQLYXJyb3ctcmlnaHQAAAAAAAH//wACAAEAAAAOAAAAGAAAAAAAAgABAAMADgABAAQAAAACAAAAAAABAAAAAMw9os8AAAAA1VITdwAAAADVUhN3) format("truetype"),url(fonts/icons.woff) format("woff"),url(fonts/icons.svg) format("svg")
}

html,body {
margin:0;
padding:0;
height:100%
}

#main {
height:100%;
padding-top:40px;
box-sizing:border-box
}

#head {
background:#3F627F;
position:absolute;
height:40px;
width:100%;
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
font-family:arial,helvetica,Segoe UI Symbol;
color:#eee
}

#head .h-tabs {
font-weight:700;
border-right:1px solid #fff;
height:40px;
width:255px;
float:left
}

#head .h-tabs ul {
width:100%
}

#head .h-tools li {
width:50px;
font-family:icons;
font-size:200%
}

#head .h-tools .arrow {
width:20px;
font-family:icons!important
}

#head .h-tools .arrow:hover {
background:inherit;
color:inherit;
cursor:default
}

#head .languages,#head .versions {
display:none;
border-right:1px solid #3F627F
}

#head .languages li,#head .versions li,li.version,li.language {
font-family:arial,helvetica,Segoe UI Symbol!important
}

#head ul {
margin:0;
padding:0;
list-style:none;
position:relative;
white-space:nowrap;
float:left;
display:table;
table-layout:fixed
}

#head ul li {
display:table-cell;
text-align:center;
line-height:20px;
padding-top:10px;
padding-bottom:10px;
vertical-align:middle
}

#head ul li a {
text-decoration:none;
display:block;
color:inherit
}

#head ul li:hover {
background:#fff;
color:#d06d3c;
cursor:pointer
}

#head .selected {
background:#fff;
color:#3F627F
}

#left {
background:#f5f5f5;
color:#000;
border-right:1px solid #eee;
float:left;
width:255px;
height:100%;
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
position:relative
}

#left .toc {
overflow:auto;
float:left;
height:100%;
width:inherit
}

#left .toc ul {
margin-left:-20px
}

#left .toc li {
list-style:none;
white-space:nowrap;
text-overflow:ellipsis;
overflow:hidden;
padding-left:10px;
cursor:pointer
}

#left .toc li.closed,.opened {
margin-left:-19px
}

#left .toc li.closed > span:before {
content:'+';
margin-right:10px;
font-size:1.1em
}

#left .toc li.opened > span:before {
content:'\2212';
margin-right:10px;
font-size:1.1em
}

#left .toc a {
text-decoration:none;
color:inherit
}

#left .toc .selected {
font-weight:700
}

#left .toc .highlighted {
background-color:#eee;
background-color:rgba(230,230,230,0.4)
}

#left .index,#left .search {
position:absolute;
top:0;
left:0;
right:0;
bottom:0
}

#left .label {
position:absolute;
top:0;
left:10px;
right:10px
}

#left .input {
position:absolute;
top:25px;
left:10px;
right:10px
}

#left input {
border:1px solid #ccc;
width:100%;
box-sizing:border-box;
color:inherit;
padding:.3em .25em;
font-family:helvetica,Arial,sans-serif;
font-size:1em
}

#left input.match {
background-color:#E6FFE6
}

#left input.mismatch {
background-color:#fcc
}

#left .list {
position:absolute;
top:60px;
bottom:10px;
left:10px;
right:10px;
background-color:#fff;
border:1px solid silver;
overflow:auto
}

#left .list > a {
text-decoration:none;
color:inherit;
line-height:1em;
padding:.3em .25em;
white-space:nowrap;
text-overflow:ellipsis;
overflow:hidden;
display:block;
cursor:default
}

#left .list > a:hover {
color:inherit;
background-color:silver;
cursor:default
}

#left .list > a.selected {
background-color:grey;
color:#FFF
}

#right {
height:100%;
overflow:auto;
}

#iframe {
border:0;
height:100%;
width:100%;
display:block;
position:relative
}

#right .area {
padding:10px
}

#right .footer {
text-align:right;
padding:10px;
font-size:75%
}

#right .codeContainer {
border:1px solid #888;
margin:.7em 0
}

#right .codeMain pre {
margin:0;
border:0
}

#right .codeHeader {
padding:0 5px;
color:#888;
font-size:.8em
}

#right .codeHeader a {
cursor:pointer
}

#right .headLine:hover:after {
content:" \0000B6";
color:#888;
font-size:smaller
}

#right .headLine > a {
color:inherit
}

#right .headLine > a:hover {
text-decoration:none;
color:inherit
}

#right .extLink:after {
content:"\00AC";
text-decoration:none;
display:inline-block;
padding-left:3px;
vertical-align:bottom;
font-family:icons;
font-size:.9em
}

#right .highlight {
background-color:#ff9632;
color:#000
}

#right table.mobile {
border:solid 1px silver;
border-collapse:collapse
}

#right table.mobile tbody {
border-top:solid 1px silver
}

#right table.mobile tbody>tr:first-child {
background-color:#F6F6F6;
font-weight:700
}

#right table.mobile td {
vertical-align:top;
padding:.3em .5em;
border:none;
width:100%
}

#right table.mobile p {
margin-top:0
}

#right table.mobile td:first-child {
background-color:#F6F6F6;
width:auto;
white-space:nowrap
}

@media print {
  #head, #left {display:none;}
  #right {overflow: visible; height: auto;}
  #main {padding-top: 0; }
}
