body {
  background: #fff;
  font-family: Arial, sans-serif;
  line-height: 1.75;
  font-size: .875em;
}
html {
	font-family: Arial, sans-serif;
}
img {
	border: none;
}
a {
    text-decoration: none;
}
a:link, a:active {
    color: #4280CA;
}
a:hover, a:focus {
    text-decoration: underline;
    color: #2A6496;
}
#ahklogo img {
    margin: 20px 0 20px 0;
}
pre, code {
    border-right: solid 1px #C8C8C8;
    border-bottom: solid 1px #C8C8C8;
    background-color: #F6F6E8;
}
pre, .Syntax {
	font-family: Consolas, Courier New, monospace;
}
.Syntax {
	background-color: #FFFFAA;
	border: solid 1px #E8E89A;
}
code, span.Syntax {
	font-family: Consolas, Courier New, monospace;
	padding: 0 1px;
}
pre {
    background-color: #F6F6E8; /*#F3F3FF*/
	margin: 0.7em 1.5em 0.7em 1.5em;
	padding: 0.7em 0 0.7em 0.7em;
	white-space: pre-wrap; /* works in IE8 but apparently not CHM viewer */
	word-wrap: break-word; /* works in CHM viewer */
}
pre.Syntax {
	margin: 0 0 1.0em 0;
	padding: 12px 0 12px 4px;
	line-height: 150%;
}
pre, pre.Short /*used with .Syntax*/ {
	line-height: 120%;
}
pre em, code em {
	color: #00A000;
	font-style: normal;
}
.NoIndent {
    margin-left: 0;
}
h1 {
    font-size: 2em;
    font-weight: bold;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 2px;
    margin-top: 8px;
    color: #3F5770;
}
h2 {
    color: #A04040;
}
h3 {
    color:  #008800;
}
a:visited {
	color: #7847b2;
}
h2:first-child {
	margin-top: 0;
}
h4 {
	margin-bottom: 0;
	line-height: 1;
}

h1, h2, h3 {
    border-bottom: 1px solid #ddd;
}
/* table of command parameters */
table {
    margin-bottom: 1em;
}
table.info {
    border: solid 2px #C0C0C0;
	border-collapse: collapse;
	width: 100%;
}
table.info td {
	border: solid 1px #C0C0C0;
	padding: 0.3em 0.5em;
}
table.info th {
	background-color: #F6F6F6;
	padding: 0.3em 0.5em;
}
/* heading note / version number/requirement tag */
.headnote,
h1 .ver, h2 .ver, h3 .ver {
	color: #808080;
    font-size: 65%;
	font-weight: normal;
	margin-left: 1em;
	vertical-align: text-middle;
}
h4 .headnote,
h4 .ver {
    font-weight: normal;
}
.ver, a.ver {
	color: gray;
}
a.ver:hover, a.ver:focus {
	text-decoration: none;
}
.dull {
	color: gray;
}
.red {
	color: red;
} /* used for highlight in various places */
.blue {
	color: blue;
}
/* emphasized note */
.note {
	border-left: 2px solid #99BB99;
	background-color: #E6FFE6;
	color: #005500;
	padding: .5em 1em;
}
.warning {
	border-left: 2px solid #FFA000;
	background-color: #FFF8E6;
	color: #C05500;
	padding: .5em 1em;
}
/* styles for briefly documenting multiple methods on one page: */
.methodShort {
	border: solid thin #C0C0C0;
	padding: 0.5em;
	margin-bottom: 1em;
}
.methodShort h2 {
	margin-top: 0;
  color: black;
  border-bottom: 0px;
}
.methodShort table.info {
	border: none;
}
.methodShort table.info td {
	border: none;
	vertical-align: text-top;
}
.methodShort:target { /* non-essential, but helpful if it works */
	border-color: black;
}
/* command parameters */
dt { /* param name */
	color: #008800;
	margin-left: 0.5em;
}

dd {
    margin-left: 1.5em;
    padding-left: 1.0em;
    border-left: 0.3em solid #e0e0e0;
	margin-bottom: 1em;
}
dd > p:first-child {
    margin-top: 0.3em;
}
