@import url('highlighter.css');

.highlight>.cmd,
.highlight>.bif {
  color: #569cd6;
}

.highlight>.met {
  color: #60c5dc;
}

.highlight>.cfs,
.highlight>.dec {
  color: #c586c0;
}

.highlight>.str {
  color: #ce9178;
}

.highlight .str>.esc,
.highlight .lab>.esc {
  color: #d7ba7d;
}

.highlight>.biv,
.highlight>.cls {
  color: #4ec9b0;
}

.highlight>.dir {
  color: #dcdcaa;
}

.highlight>.lab,
.highlight>.fun {
  font-weight: normal;
  color: #dcdcaa;
}

.highlight>.num {
  color: #b5cea8;
}

.highlight .cmt {
  color: #6a9955;
}

.highlight.line-numbers .line-numbers-rows {
  border-right-color: #999;
}

.highlight.line-numbers .line-numbers-rows>span:before {
  color: #999;
}
