/* styles tweaked from the original AutoHotkey css */

body {
	font-family: "Arial", sans-serif;
	font-size: 87.5%;
	color: black;
	border: 0;
	background-color: #FFFFFF;
	line-height: 140%;
	margin: 1em 2em;
}
p {
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

h1 {
	font-size: 2em;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 2px;
	color: darkblue;
}
h2 {
	font-size: 150%;
	font-family: Arial, Helvetica, sans-serif, "MS sans serif";
	color: #A04040;
	margin: 1.5em 0 0.5em 0;
	padding: 0.1em 0 0.1em 0;
}
h3 {
	font-size: 125%;
	margin: 1.4em 0 0.5em 0;
	padding: 0.1em 0 0.1em 0;
	color:  #008000;
}
h4 {
    font-size: 110%;
    font-style: italic;
    margin: 0.7em 0;
}

ul, ol {margin-top: 0.7em; margin-bottom: 0.7em;}
li {margin-top: 0.2em; margin-bottom: 0.2em; margin-left: -0.75em;}

a {text-decoration: none;}
a:link, a:active {color: #4280CA;}
a:visited {color: #AA00AA;}
a:hover, a:focus {text-decoration: underline; color: #2A6496;}

.Indent {
    margin-left: 2em;
}
.NoIndent {
	margin-left: 0;
	margin-right: 0;
}

/* pre: code blocks, code: inline code, .Syntax: syntax definition (block/pre or inline/span) */
pre, code, .Syntax {
	font-family: Consolas, Courier New, monospace;
	font-size: 1em;
}
pre, code {
    border-right: solid 1px #C8C8C8;
    border-bottom: solid 1px #C8C8C8;
    background-color: #F6F6E8;
}
.Syntax   { background-color: #FFFFAA; border: solid 1px #E8E89A; }
code, span.Syntax { padding: 0 0.2em; }
pre {
    margin: 0.7em 1.5em 0.7em 1.5em;
    padding: 0.7em 0 0.7em 0.7em;
    white-space: pre-wrap; /* works in IE8 but apparently not CHM viewer */
    word-wrap: break-word; /* works in CHM viewer */
}
pre.Syntax {
    margin: 0 0 1.0em 0;
    line-height: 150%;
	position: relative;
}
pre, pre.Short /*used with .Syntax*/ { line-height: 120%; }
/* comments */
pre em, code em { color: #00A000; font-style: normal; }


/* tables */
table.info {
    border: solid 2px #C0C0C0;
    border-collapse: collapse;
    width: 100%;
    /*table-layout: fixed;*/
}
table.info td {
    border: solid 1px #C0C0C0;
    padding: 0.3em;
}
table.info th {
    background-color: #F6F6F6;
	padding: 0.3em;
}

/* command parameters */
dt { /* param name */
	font-style: italic;
    margin-left: 0.5em;
}
dd {
	margin-left: 1.5em;
	padding-left: 1.0em;
	border-left: 0.3em solid #e0e0e0;
    margin-bottom: 1em;
}
dd > p:first-child {
	margin-top: 0.3em;
}

/* version number/requirement tag */
h1 .ver, h2 .ver, h3 .ver {font-size: 65%; font-weight: normal; margin-left: 1em; vertical-align: top}
h2 .ver {color: lightgray; font-size: 80%;}
.ver,
/* de-emphasized */
.dull {color: gray;}
.red {color: red;} /* used for highlight in various places */
.blue {color: blue;}
/* emphasized note */
.note {border: 1px solid #99BB99; background-color: #E6FFE6;
	color: #005500; padding: 0 3px; }

/* styles for briefly documenting multiple methods on one page: */
.methodShort {
    border: solid thin #C0C0C0;
    padding: 0.5em;
    margin-bottom: 1em;
}
.methodShort h2 { margin-top: 0; }
.methodShort table.info { border: none; }
.methodShort table.info td {
    border: none;
    vertical-align: text-top;
}
.methodShort:target { /* non-essential, but helpful if it works */
    border-color: black;
}

/* nav links */
.navlinks {
	float: right;
}
.navlinks a {
	font-weight: bold;
}