body {
	font-family: Verdana, Arial, Helvetica, sans-serif, "MS sans serif";
	font-size: 75%;
	border: 0;
	background-color: #FFFFFF;
}

p {
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

/* The following series is for code/pre sections. */
.CodeCom {color: #00A000;}
.NoIndent {
	margin-left: 0;
	margin-right: 0;
}

/* pre: code blocks, code: inline code, .Syntax: syntax definition (block/pre or inline/span) */
pre, code, .Syntax {
	font-family: Consolas, monospace;
}
pre, code { background-color: #F3F3FF; border: solid 1px #E3E3EF; }
.Syntax    { background-color: #FFFFAA; border: solid 1px #E8E89A; }
code, span.Syntax { padding: 0 1px; }
pre { margin: 0.7em 1.5em 0.7em 1.5em; padding: 0.7em 0 0.7em 0.7em; }
pre.Syntax { margin: 0 0 1.0em 0; padding: 12px 0 12px 4px; }
/* comments */
pre em, code em { color: #009000; font-style: normal; }

/* de-emphasized code */
.dull {color: darkgray;}

table {font-size: 100%;}
tr {font-size: 100%;}
td {font-size: 100%;}
b {font-weight: bold;}
ul {margin-top: 0.7em; margin-bottom: 0.7em;}
ol {margin-top: 0.7em; margin-bottom: 0.7em;}
li {margin-top: 0.2em; margin-bottom: 0.2em;}

a        {text-decoration: none;}
a:link   {text-decoration: none; color: #0000AA;}
a:visited{text-decoration: none; color: #AA00AA;}
a:active {text-decoration: none; color: #0000AA;}
a:hover  {text-decoration: underline; color: #6666CC;}

h1 {
	font-size: 200%;
	font-weight: normal;
	margin: 0;
}

h2 {
	font-size: 144%;
	font-weight: bold; /* Bold looks better against dark background. */
	font-family: Arial, Helvetica, sans-serif, "MS sans serif"; /* Arial looks much better than Verdana against dark background. */
	background-color: #405871;
	color: #FFFFFF;
	margin: 1.0em 0 0.5em 0;
	padding: 0.1em 0 0.1em 0.2em;
}

h3 {
	font-size: 120%;
	font-weight: bold;
	color: #005500;
	background-color: #E6FFE6;
	margin: 1.0em 0 0.5em 0;
	padding: 0.1em 0 0.1em 0.2em;
}

h4 {
	font-size: 111%;
	font-weight: bold;
	background-color:#E6E6E6;
	margin: 1.0em 0 0.5em 0;
	padding: 0.1em 0 0.1em 0.2em;
}

h5 {
	font-size: 155%;
	font-weight: normal;
	margin: 0;
}

h6 {
	font-size: 133%;
	font-weight: bold;
	margin: 0;
}

.red {color: #DD0000;}
.small80bold {font-size: 80%; font-weight: bold}
.small80 {font-size: 80%; font-weight: normal}
.h1form {margin-top: 0.5em}